   <footer class="footer">
        <div class="container">
            <div class="level">

                <div class="level-left">
                    <!-- <div class="level-item">
                        <div class="field is-grouped">
                            <p class="control"><a class="button is-small is-light">Discord</a></p>
                            <p class="control"><a class="button is-small is-light">Terms</a></p>
                            <p class="control"><a class="button is-small is-light">Support</a></p>
                        </div>
                    </div> -->
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p class="is-size-6">
                            <strong style="color: darkslategray;">Money Game</strong> &copy; 2026.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>