body { background: #f0f0f0; }

.coin-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    perspective: 1000px;
}

.coin {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
}

.coin svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.coin .tails {
    transform: rotateY(180deg);
}
