<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <h1>Bank</h1>
    <h2>Details</h2>
    <ul>
        <li>Account Holder: {{ session['fname'] }} {{ session['lname'] }}</li>
        <li>Account Number: {{ account['account_no'] }}</li>
        <li>Account Type: {{ account['account_type'] }}</li>
        <li>Balance: {{ account['account_balance'] }}</li>
    </ul>
    <h2>Bank Menu</h2>
        <ul>
            <li><a href="{url_for('deposit')}">Deposit</a></li>
            <li><a href="{url_for('withdraw')}">Withdraw</a></li>
            <li><a href="{url_for('transfer')}">Transfer</a></li>
            <li><a href="{url_for('transactions')}">Transactions</a></li>
        </ul>
</body>
</html>