{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}

                    <div class="column is-9">
                    {% for type, message in get_flashed_messages(with_categories=true) %}
                            <div class="message is-{{ type }}">
                                <div class="message-body">
                                {{ message }}
                                </div>
                            </div>
                    {% endfor %}
                        <div class="columns">
                            <div class="column is-7">
                                <div class="box">
                                    <h1 class="title is-2">
                                        <i class="fas fa-user-friends has-text-info mr-3 mb-5"></i>Friends
                                    </h1>

                                        {% if frn %}
                                            <div class="content">
                                                {% for f in frn %}
                                                <a href="{{url_for('player_profile', username=f['username'])}}" class="is-flex is-align-items-center">
                                                        <figure class="image is-32x32 mr-3">
                                                            <img class="is-rounded"
                                                                src="https://ui-avatars.com/api/?name={{ f['name'] }}&background=random">
                                                        </figure>

                                                        <div>
                                                            <p class="has-text-weight-bold mb-0">
                                                                {{ f['name'] }}
                                                            </p>
                                                            <p class="is-size-7 has-text-grey">@{{ f['username'] }}</p>
                                                        </div>
                                                </a>
                                                <form method="post" action="{{ url_for('friends') }}">
                                                    <input type="hidden" name="unfriend_id" value="{{ f['player_id'] }}">
                                                    <button type="submit" class="button mt-2 mb-4 is-info is-small is-light has-text-weight-bold">
                                                        Unfriend
                                                    </button>
                                                </form>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <img class="container" src="{{ url_for('static', filename='friendless.gif') }}">
                                        {% endif %}
                                    </div>

                            </div>

                            <div class="column is-5">
                                <div class="box">
                                    <h3 class="title is-4"><i class="fas fa-user-plus has-text-success mr-2"></i> Add Friend</h3>
                                    <form method="POST" action="{{ url_for('friends') }}">
                                        <div class="field">
                                            <label class="label">Username</label>
                                            <div class="control has-icons-left">
                                                <input class="input" type="text" name="username" placeholder="Enter username..." required>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <button type="submit" class="button is-success is-fullwidth has-text-weight-bold">
                                            SEND REQUEST
                                        </button>
                                    </form>

                                </div>
                                <div class="box">
                                    <h3 class="title is-4"><i class="fas fa-clock has-text-info mr-2"></i> Pending Requests</h3>
                                    
                                    {% if frq %}
                                        <div class="content">
                                            {% for f in frq %}
                                            
                                            <a href="{{url_for('player_profile', username=f['username'])}}" class="request-item">
                                                <div class="is-flex is-align-items-center">
                                                    <figure class="image is-32x32 mr-3">
                                                        <img class="is-rounded" src="https://ui-avatars.com/api/?name={{f['name']}}&background=random">
                                                    </figure>
                                                    <div>
                                                        <p class="has-text-weight-bold mb-0">
                                                            {{f['name']}}
                                                        </p>
                                                        <p class="is-size-7 has-text-grey">wants to be friends</p>
                                                    </div>
                                                </div>
                                                <div class="field is-grouped">

                                                    <form method="post" action="{{ url_for('friends') }}">
                                                        <input type="hidden" name="friend_id" value="{{ f['player_id'] }}">
                                                        <button type="submit" class="button mt-2 mb-4 is-info is-small is-light has-text-weight-bold">
                                                            ACCEPT
                                                        </button>
                                                    </form>
                                                    <form method="post" action="{{ url_for('friends') }}">
                                                        <input type="hidden" name="reject_id" value="{{ f['player_id'] }}">
                                                        <button type="submit" class="button mt-2 mb-4 is-info is-small is-light has-text-weight-bold">
                                                            DECLINE
                                                        </button>
                                                    </form>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="has-text-centered py-5">
                                            <span class="icon is-large has-text-grey-lighter">
                                                <i class="fas fa-envelope-open fa-2x"></i>
                                            </span>
                                            <p class="has-text-grey mt-2">No pending requests.</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> </div>
        
{% endblock %}