<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>Friends</title>
</head>
<body>
    <div class="section">
        <div class ="columns">
            <div class="column is-three-fifths">
                <div class="box">
                    <h2 class="is-size-5 has-text-centered block has-text-weight-bold">
                        Friends
                    </h2>
                    {% if frn %}
                        <ul>
                        {% for f in frn %}
                            <li><a href="{{url_for('player_profile', username=f['username'])}}">{{f['name']}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <img class="container" src="{{ url_for('static', filename='friendless.gif') }}">
                    {% endif %}
                </div>
            </div>
            <div class="column">
                <div class="block">
                    <form method="POST" class="box">
                        <h2 class="is-size-5 has-text-centered block has-text-weight-bold">
                            Send a friend request
                        </h2>
                        <label class="label">Username</label>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="text" name="username" required class="input">
                            </div>
                            <div class="control">
                                <button class="button is-link" type="submit"> Send </button>
                            </div>
                        </div>
                        {% for m in get_flashed_messages() %}
                        <article class="message is-small">
                            <div class="message-body">
                                {{ m }}
                            </div>
                        </article>
                        {% endfor %}
                    </form>
                </div>
                {% if frq %}
                <div class="block">
                    <div class="box">
                        <h2 class="is-size-5 has-text-centered block has-text-weight-bold">
                            Friend Requests
                        </h2>
                        <ul>
                            {% for f in frq %}
                            <li>
                                <a href="{{url_for('player_profile', username=f['username'])}}">{{f['name']}}</a>
                                <form method="post">
                                    <input type="hidden" name="friend_id" value="{{ f['player_id'] }}">
                                    <button type="submit">Accept</button>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
