{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="column is-9">
        <div class="box p-6">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-2 mb-2">Welcome, {{fname}}!</h1>
                    <p class="subtitle is-5 has-text-grey">
                        Viewing profile for <span class="has-text-success has-text-weight-bold">@{{username}}</span>
                    </p>
                </div>
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="https://ui-avatars.com/api/?name={{fname}}+{{lname}}&size=128&background=48c78e&color=fff" alt="Profile">
                    </figure>
                </div>
            </div>
            
            <hr>

            <div class="columns">
                <div class="column">
                    <div class="has-background-success-light p-5 has-radius-normal">
                        <p class="heading has-text-success-dark">Personal Balance</p>
                        <p style="color: black;" class="title is-3">{{ accbalance }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-background-info-light p-5 has-radius-normal">
                        <p class="heading has-text-info-dark">Player ID</p>
                        <p style="color: black;" class="title is-3">{{session['id']}}</p>
                    </div>
                </div>
            </div>

            <div class="content mt-5">
                <!-- <p class="is-size-5">
                    Everything looks good! You have <strong class="has-text-success">3 pending bank transfers</strong> and your stocks are up by <span class="tag is-success">2.4%</span> today.
                </p> -->
                <div class="buttons">
                    <!-- <a href="{{url_for('player_profile', username=username)}}" class="button is-success">Update Profile</a> -->
                    <a href="{{url_for('games.games_home')}}" class="button is-success">Play Games</a>
                    <a href="{{url_for('bank')}}" class="button is-light">Visit Bank</a>
                    <a href="{{url_for('stocks')}}" class="button is-active">Invest in Stocks</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}