{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="column is-9">
        <div class="box p-6">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-2 mb-2">Welcome, {{fname}}!</h1>
                    <p class="subtitle is-5 has-text-grey">
                        Viewing profile for <span class="has-text-success has-text-weight-bold">@{{username}}</span>
                    </p>
                </div>
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="https://ui-avatars.com/api/?name={{fname}}+{{lname}}&size=128&background=48c78e&color=fff" alt="Profile">
                    </figure>
                </div>
            </div>
            
            <hr>
            <div class="columns">
                    {% if get_flashed_messages() %}
                    <div class="notification is-warning mt-4 column" style="color: #111;">
                        {% for m in get_flashed_messages() %}
                            <p>{{ m }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

            <div class="columns">
                
                <div class="column">
                    <div class="has-background-success-light p-5 has-radius-normal">
                        <p class="heading has-text-success-dark">Personal Balance</p>
                        <p style="color: black;" class="title is-3">{{ accbalance }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-background-info-light p-5 has-radius-normal">
                        <p class="heading has-text-info-dark">Player ID</p>
                        <p style="color: black;" class="title is-3">{{session['id']}}</p>
                    </div>
                </div>
            </div>
            

            <div class="columns is-multiline">
    
    <div class="column is-12">
        <a href="{{ url_for('games.games_home') }}" class="box game-card p-5 is-flex is-align-items-center">
            <span class="icon is-large has-text-success mr-4">
                <i class="fas fa-coins fa-2x"></i>
            </span>
            <div>
                <p class="is-size-5 has-text-weight-bold">Play Games</p>
                <p class="is-size-7 has-text-grey">Wager and earn money</p>
            </div>
        </a>
    </div>

    <div class="column is-12">
        <a href="{{ url_for('bank') }}" class="box game-card p-5 is-flex is-align-items-center">
            <span class="icon is-large has-text-info mr-4">
                <i class="fas fa-university fa-2x"></i>
            </span>
            <div>
                <p class="is-size-5 has-text-weight-bold">Visit Bank</p>
                <p class="is-size-7 has-text-grey">Deposit and manage funds</p>
            </div>
        </a>
    </div>

    <div class="column is-12">
        <a href="{{ url_for('stocks') }}" class="box game-card p-5 is-flex is-align-items-center">
            <span class="icon is-large has-text-success mr-4">
                <i class="fas fa-chart-line fa-2x"></i>
            </span>
            <div>
                <p class="is-size-5 has-text-weight-bold">Invest in Stocks</p>
                <p class="is-size-7 has-text-grey">Buy and sell shares</p>
            </div>
        </a>
    </div>

</div>

        </div>
    </div>

{% endblock %}