<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{details['first_name']}}'s profile</title>
</head>
<body>
    <h2>User Details</h2>
    <ul>
        <li>
            <a href='{{ url_for("player_profile", username=details["username"]) }}'>
                {{ details['name'] }}
            </a>
        </li>
        <li>Age: {{details['age']}}</li>
        <li>Personal Balance: ${{details['personal_balance']}}</li>
    </ul>
    <h2>
        {% if details["username"] == session["username"] %}
        Friends
        {% else %}
        Mutual Friends
        {% endif %}
    </h2>
    <ul>
    {% for m in mutuals %}
        <li><a href="{{ url_for('player_profile', username=m['username']) }}">{{m['name']}}</a></li>
    {% endfor %}
    </ul>
</body>
</html>